{% extends '::front.html.twig' %}
<body>
<div id="container">
{% block body %}



    <nav class="container-fluid container-fluid-menu">

        <a class="icon-logo-secondechance" href="#"></a>

        <div id="nav-secondary-menu">

            <div class="max-w-1280 hidden-sm hidden-xs">
                <a class="icon-logo-secondechance logo-default" href="../index.html"></a>
            </div>

            <div class="navbar navbar-inverse navbar-static-top">
                <div class="max-w-1280">
                    <div class="navbar-collapse navbar-right navbar-inverse collapse">
                        <ul class="nav navbar-nav font-style-1">
                            <li class="active"><a href="{{ path('Apropos') }}">A propos de Seconde Chance</a></li>
                            <li><a href="{{ path('Blogger') }}">Blog</a></li>
                            <li><a href="{{ path('Contact') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand icon-logo-secondechance" href="../index.html"></a>
                    <a class="navbar-toggle" data-toggle="collapse" data-target=".reduct-menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </div>

            </div>
        </div>

        <div class="row page-default" id="nav-main-menu" data-spy="affix" data-offset-top="90">

            <div class="navbar navbar-inverse navbar-static-top yamm">
                <div class="max-w-1280">
                    <a class="navbar-brand icon-logo-secondechance" href="../index.html"></a>
                    <div class="navbar-collapse collapse reduct-menu">

                        <ul class="nav navbar-nav pull-right">

                            <li class="dropdown active">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Trouvez l&#039;animal qui vous attend <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="grid-sub-menu">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="sub-menu">
                                                    <a href="{{ path('Rechercher') }}" class="active">
                                                        <i class="fa fa-caret-right"></i> <strong>Adopter un animal</strong>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="sub-menu">
                                                    <a href="ils-ont-ete-adoptes.html" class="">
                                                        <i class="fa fa-caret-right"></i> <strong>Ils ont été adoptés</strong>
                                                    </a>
                                                </div>
                                            </div>


                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown ">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Les associations <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="grid-sub-menu">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="sub-menu">
                                                    <a href="../refuge/recherche.html" class="">
                                                        <i class="fa fa-caret-right"></i> <strong>Trouver un refuge ou une association</strong>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="sub-menu">
                                                    <a href="../adherer.html"
                                                       class="">
                                                        <i class="fa fa-caret-right"></i> <strong>Adhérer à Seconde Chance</strong>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown ">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Entraide <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="grid-sub-menu">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="sub-menu">
                                                    <a href="../aider-les-associations.html"
                                                       class="">
                                                        <i class="fa fa-caret-right"></i> <strong>Aider les associations</strong>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="sub-menu">
                                                    <a href="../benevoles.html"
                                                       class="">
                                                        <i class="fa fa-caret-right"></i> <strong>Devenir Bénévole</strong>
                                                    </a>
                                                </div>
                                            </div>



                                            </div>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown ">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Faites une BA <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="grid-sub-menu">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="sub-menu">
                                                    <a href="perles-noires.html" class="">
                                                        <i class="fa fa-caret-right"></i> <strong>Perle noire</strong>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="sub-menu">
                                                    <a href="seniors-en-or.html" class="">
                                                        <i class="fa fa-caret-right"></i> <strong>Seniors en or</strong>
                                                    </a>
                                                </div>
                                            </div>



                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown "
                            >
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Conseils &amp; Infos <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="grid-sub-menu">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="sub-menu">
                                                    <a href="../questions-frequentes.html" class="">
                                                        <i class="fa fa-caret-right"></i> <strong>Questions fréquentes</strong>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="sub-menu">
                                                    <a href="../conseils-et-informations.html" class="">
                                                        <i class="fa fa-caret-right"></i> <strong>Fiches pratiques</strong>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="sub-menu">
                                                    <a href="../actualites.html" class="">
                                                        <i class="fa fa-caret-right"></i> <strong>Actualités</strong>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li class="">
                                <a href="../connexion.html">Mon compte</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </nav>
    <header>
        <div class="content-header header-default"></div>
    </header>

    <aside class="hidden-lg hidden-md text-center" id="div-gpt-pub-footer">

        <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-pub-footer'); });
        </script>

    </aside>
    <footer class="bg-style-1">
        <div class="container-fluid max-w-1280">
            <ul>
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="../publicite.html">Publicité</a></li>
                <li><a href="../informations-legales.html">Infos légales</a></li>
                <li><a href="../plan-du-site.html">Plan du site</a></li>
            </ul>


        </div>
    </footer>
    <script src="../js/core1caa.js?v1510648692"></script>



</div>
{% endblock %}
</body>