{% extends '::front.html.twig' %}
{% block body %}


    <section>

        <div class="container-fluid max-w-1280 margin-bottom">
            <div class="row">
                <section class="col-left-custom">
                    <div class="hidden-xs hidden-sm hidden-md col-lg-3 no-padding margin-top">
                        <article id="goal">
                            <div class="panel border-style-1 no-padding">
                                <div class="panel-heading bg-style-1 text-center">
                                    <h2 class="sub-title txt-white">Nos objectifs</h2>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li><span class="fa fa-heart"></span> <strong>Promouvoir l’adoption</strong> auprès du grand public et des médias.</li>
                                        <li><span class="fa fa-heart"></span> Permettre à toutes les associations de secours aux animaux de <strong>se faire connaître</strong> et de <strong>faire connaître leurs pensionnaires</strong>.</li>
                                        <li><span class="fa fa-heart"></span> Offrir aux particuliers à la recherche d’un animal de compagnie un outil de recherche efficace et performant.</li>
                                        <li><span class="fa fa-heart"></span> Développer une communauté d’intérêt afin de <strong>négocier des offres et des remises avec l’industrie des aliments</strong>, soins et accessoires pour animaux.</li>
                                        <li><span class="fa fa-heart"></span> <strong>Partager des ressources et des informations</strong> sur les collectes de fonds, le fonctionnement du refuge, les contrats d’adoption, etc.</li>
                                        <li><span class="fa fa-heart"></span> <strong>Mettre en relation les associations et les personnes</strong> qui souhaitent devenir bénévoles ou familles d’accueil.</li>
                                    </ul>

                                </div>
                                <div class="panel-footer bg-style-1 text-center">
                                    <a href="a-propos.html">En savoir plus</a>
                                </div>
                            </div>
                        </article>                </div>
                    <div class="col-sm-12 col-lg-9">
                        <article id="editorial-content" class="row">
                            <div class="col-xs-12">
                                <h1 class="title title-style-1 title-border">
                                    Adhérer à Seconde Chance
                                </h1>
                            </div>

                            <div class="col-xs-12">
                                <p class="text-muted">
                                    L’adhésion à Seconde Chance est exclusivement réservée aux associations de secours aux animaux, refuges municipaux, fourrières et vétérinaires qui
                                    proposent des animaux à l’adoption sans but lucratif. Particuliers ou éleveurs ne peuvent adhérer à Seconde Chance pour y présenter leurs animaux.
                                </p>
                            </div> <div class="col-xs-12">
                                <div class="well bg-style-1 text-center">
                                    <h2>
                                        Notre objectif : Vous aider à trouver de nouvelles familles pour vos petits protégés
                                    </h2>
                                </div>
                            </div> <div class="col-xs-12">
                                <p>
                                    Créé en septembre 2007 par des passionnés des animaux, Seconde Chance® est le 1er site français de promotion de l’adoption qui offre la possibilité à
                                    tous les refuges et associations de secours aux animaux de présenter leurs animaux. Un service totalement gratuit et qui ne demande aucune compétence
                                    en informatique !
                                </p>
                            </div> <div class="col-xs-12">
                                <h3 class="title-style-1">L’union fait la force</h3>
                                <p>
                                    En proposant une plate-forme qui centralise les annonces des différents organismes Seconde Chance® facilite pour les adoptants la recherche de leur
                                    animal de compagnie. Pour vous c’est l’assurance d’offrir une nouvelle vitrine à votre organisme et plus d’occasions d’être vus à vos pensionnaires.
                                </p>
                                <p>
                                    Un seul site et une seule adresse pour tous les refuges c’est le seul moyen de promouvoir durablement l’adoption auprès des médias et du grand public.
                                    A terme, c’est également la possibilité de négocier pour vous des offres et des remises avec l’industrie des aliments, soins et accessoires pour animaux.
                                </p>
                            </div> <div class="col-xs-12">
                                <h3 class="title-style-1">Comment ça marche</h3>
                                <p>
                                    Pour pouvoir proposer vos animaux sur Seconde Chance® il vous suffit de vous inscrire et de nous transmettre les documents qui vous seront demandés
                                    et qui nous permettront de vérifier votre statut d’organisme de secours aux animaux. Sous 72h vous recevrez par email un identifiant et un mot de
                                    passe qui vous permettra d’accéder à la partie du site réservée aux refuges. Vous pourrez alors librement ajouter les animaux que vous souhaitez
                                    présenter à partir de tout ordinateur connecté à Internet via votre navigateur habituel. L’utilisation de notre interface ne nécessite aucune
                                    compétence en informatique.
                                </p>
                                <p>
                                    Vous trouverez également dans cet espace réservé de ressources réservées aux refuges.
                                </p>
                                <p>
                                    Cela ne vous empêche en rien de continuer à présenter vos animaux sur votre site. Ils peuvent même être intégrés automatiquement à Seconde Chance®
                                    si vous disposez déjà d’un outil sur votre site.
                                </p>
                            </div> <div class="col-xs-12">
                                <h3 class="title-style-1">Seconde Chance a besoin de vous</h3>
                                <p>
                                    Plus vous serez nombreux à annoncer vos animaux sur Seconde Chance et plus nous aurons de chances de développer les adoptions en France,
                                    faire parler de nous dans les medias et surtout nous faire connaître du grand public.
                                </p>
                            </div>

                        </article>

                        <hr/>

                        <article id="starting-registration-shelter" class="margin-top">

                            <form name="" method="post">
                                <h2 class="block-form-search-title block-form-search-title-style-2">Commencer <span class="font-style-2">l'enregistrement</span></h2>
                                <div class="col-xs-12 block-form-search block-form-search-style-2 no-padding">


                                    <div class="form-group col-xs-12">
                                        <label class="control-label" for="shelter">Sélectionnez votre refuge ou association</label>
                                        <select id="shelter" name="shelter" class="form-control"><option value=""></option><option value="2123">A.B.P.A</option><option value="1160">A.S.A.P.A (ASSOCIATION SUD ARDENNAISE DE PROTECTION DES ANIMAUX) </option><option value="1630">ABCDA</option><option value="183">ADDCL Angoulême</option><option value="252">ADNA</option><option value="163">AID Animaux Chateaubriant</option><option value="209">APERAP</option><option value="295">APRAC - Association de Promotion du RAT comme Animal de Compagnie</option><option value="866">ASEMDA</option><option value="854">Aides Aux Ânes</option><option value="313">Animaux Assistance Europe</option><option value="476">Animaux Moins Malheureux dans l&#039;Y grenoblois (AMMY)</option><option value="1731">Arche du cœur refuge animalier    </option><option value="662">Assistance et protection des animaux de Seine-et-Marne</option><option value="1006">Association Clairette</option><option value="285">Association Française des Chinchillas de Compagnie (AFCC)</option><option value="704">Association Intercommunale de la Protection Animale</option><option value="384">Association Phoenix</option><option value="302">Association Protectrice des Animaux du Puy de Dôme</option><option value="262">Association Pénélope</option><option value="758">Association Renaissance</option><option value="588">Association Rémoise Les Amis des Bêtes - Refuge de Reims</option><option value="940">Association de Recueil des Oiseaux Domestiques (A.R.O.D.)</option><option value="404">Association pour le Replacement des Bouledogues Français (ARBF)</option><option value="698">Aux chats qui sourient</option><option value="344">Chatem</option><option value="1046">Chats Sans Toits</option><option value="490">Chats sans toit, chiens sans maitre</option><option value="530">Chenil municipal de Digne-les-Bains</option><option value="279">Cheval Espoir</option><option value="1048">Coeurs de chats clermontois</option><option value="798">Dogues Allemands Sans Famille</option><option value="268">EDL</option><option value="155">Ecole du Chat Eiffel-Suffren</option><option value="90">Ecole du chat de Clichy</option><option value="844">El Rancho &quot;Les canailles&quot;</option><option value="466">Equi-Libre</option><option value="550">Fos Animalia</option><option value="1208">Félins pour l&#039;autre</option><option value="1206">Galgos Espoir</option><option value="1428">Héméra</option><option value="1715">L&#039;Arche de Noé </option><option value="676">L&#039;Ecole du Chat de Le Luc</option><option value="508">L&#039;alternative</option><option value="317">L&#039;école du Chat de Reims</option><option value="138">L&#039;école du chat de Bercy</option><option value="141">L&#039;école du chat de Trouville</option><option value="136">L&#039;école du chat de l&#039;Aube</option><option value="107">L&#039;étape de l&#039;espoir</option><option value="319">LFPC</option><option value="94">La Chaumière des chiens orphelins</option><option value="956">La forêt de Léa</option><option value="1750">Le Chenil communautaire</option><option value="280">Le Manège Enchanté des Perroquets</option><option value="278">Le Paradis des Chiens</option><option value="1092">Le chat mon ami</option><option value="223">Le crépuscule des animaux</option><option value="598">Le refuge de Saint Jean</option><option value="516">Les Amis des bêtes</option><option value="658">Les Copains d&#039;abord</option><option value="1787">Les Furets Bourguignons</option><option value="870">Les Quatre Pattes / PAWS</option><option value="818">Les Symphonies de l&#039;Opéra</option><option value="702">Liberté du Chat</option><option value="604">Ligue Protectrice des Animaux </option><option value="1178">Ligue Protectrice des Animaux de Calais</option><option value="132">Mon ami le chat - Refuge de Thimonville</option><option value="1549">Mélodie</option><option value="416">Nos amis à 4 pattes</option><option value="764">Pattes-à-Trac</option><option value="754">Pour la Protection et la  Défense des Animaux</option><option value="1955">Protection Animale Catalane </option><option value="1956">Protection Animale Catalane </option><option value="738">Protection Animale Neufchateau</option><option value="38">REFUGE D&#039; ETALONDES</option><option value="890">REFUGE DE CHAMARANDE</option><option value="34">REFUGE LE JARDIN DE LA PADRINE - TOREILLES</option><option value="46">REFUGE SPA D&#039;HERMERAY</option><option value="48">REFUGE SPA D&#039;ORGEVAL</option><option value="3">REFUGE SPA DE BRUGHEAS</option><option value="17">REFUGE SPA DE CHATEAUBOURG</option><option value="56">REFUGE SPA DE CHILLEURS AUX BOIS</option><option value="6">REFUGE SPA DE CLIRON</option><option value="14">REFUGE SPA DE CROZON</option><option value="57">REFUGE SPA DE KOUROU</option><option value="23">REFUGE SPA DE L&#039;ESPERANCE - CHOLET</option><option value="9">REFUGE SPA DE MENOIS - ST PARRES AUX TERTRES</option><option value="10">REFUGE SPA DE MILLAU</option><option value="2">REFUGE SPA DE MONTLUCON</option><option value="22">REFUGE SPA DE MOREE</option><option value="52">REFUGE SPA DE PORT LA NOUVELLE</option><option value="18">REFUGE SPA DE RENNES</option><option value="28">REFUGE SPA DE SARREGUEMINES</option><option value="25">REFUGE SPA DE VALDELANCOURT</option><option value="45">REFUGE SPA DE VAUX LE PENIL</option><option value="41">REFUGE SPA DES DEUX RIVES - GOLFECH</option><option value="1">REFUGE SPA DES PRES DE LONGUEVALLE - LAON</option><option value="49">REFUGE SPA GRAMMONT - GENNEVILLIERS</option><option value="42">REFUGE SPA LA FERME DU RELAIS - FLAYOSC</option><option value="16">REFUGE SPA LE BOIS PINSON - VITRE</option><option value="8">REFUGE SPA LE CLERGUE - MIREPOIX</option><option value="44">REFUGE SPA LES PETITES PRISES - CHATEAU D&#039;OLONNE</option><option value="12">REFUGE SPA PLOUHINEC</option><option value="47">REFUGE SPA de PLAISIR</option><option value="640">Refuge A 4 PAT</option><option value="114">Refuge ACPA</option><option value="311">Refuge AIMAA d&#039;Epernay</option><option value="200">Refuge Animalier de Sologne</option><option value="98">Refuge C.H.E.V.A.L</option><option value="215">Refuge Canin Municipal de Vierzon</option><option value="1369">Refuge Charlotte Even - Association Châlonnaise de Protection des Animaux</option><option value="237">Refuge Edile Lacroix</option><option value="644">Refuge Jean Roche</option><option value="11">Refuge La Rochette - Chameyrat </option><option value="19">Refuge La Verdière - Sainte Marie de Redon</option><option value="578">Refuge Pension Médor</option><option value="554">Refuge SPA Les amis des bêtes</option><option value="326">Refuge SPA du Moulin Wibert</option><option value="188">Refuge animalier de la SPA de Bordeaux</option><option value="216">Refuge canin de Pont vert</option><option value="310">Refuge de Bellegarde</option><option value="372">Refuge de Cathy</option><option value="562">Refuge de Clocher</option><option value="382">Refuge de Puymège</option><option value="32">Refuge de Tilloy les Mofflaines </option><option value="360">Refuge de l&#039;AFPAE</option><option value="211">Refuge de l&#039;APADAF</option><option value="199">Refuge de l&#039;APAHD</option><option value="536">Refuge de l&#039;APDA</option><option value="265">Refuge de l&#039;ARChe</option><option value="121">Refuge de l&#039;Arbois</option><option value="246">Refuge de l&#039;Arche de Noé</option><option value="1024">Refuge de l&#039;Association Perle</option><option value="140">Refuge de l&#039;école du chat de St Aubin les Elbeuf</option><option value="526">Refuge de la Buissonnière</option><option value="666">Refuge de la Chevrie</option><option value="205">Refuge de la Ferté St Aubin</option><option value="390">Refuge de la SPA Béziers</option><option value="99">Refuge de la SPA de Besançon</option><option value="125">Refuge de la SPA de Moyenne-Alsace</option><option value="74">Refuge de la SPA de Pontarlier</option><option value="329">Refuge de la SPA de Strasbourg</option><option value="168">Refuge de la SPA du Gers</option><option value="270">Refuge de la SPA du Ponthieu-Marquenterre</option><option value="235">Refuge de la SPDA</option><option value="322">Refuge de la Spa de Cournonterral</option><option value="570">Refuge de la vallée</option><option value="314">Refuge des cailloux</option><option value="342">Refuge des écuries asiniennes</option><option value="261">Refuge du Chesnay</option><option value="376">Refuge du Mal Bâti (Fourrière municipale)</option><option value="560">Refuge du ruisseau perdu</option><option value="65">Refuge intercommunal du district de l&#039;Artois</option><option value="293">Refuge l&#039;Arche de Noé</option><option value="320">Refuge les chevaux du Brulhois</option><option value="1438">Refuge-Fourrière du Montal </option><option value="91">Refuges Amis des bêtes</option><option value="165">Rescue Dogue</option><option value="152">Restochats</option><option value="426">S.O.S Chats du Sedanais</option><option value="952">S.P.A.C. - Refuge de Bourges</option><option value="334">S.P.C.A.C. - Refuge de Dun/Auron</option><option value="59">SIEGE SOCIAL SPA PARIS</option><option value="650">SOS Animaux</option><option value="1170">SOS Animaux Massiacois</option><option value="283">SOS Bulldog</option><option value="626">SOS Chats</option><option value="97">SOS Dogues de Bordeaux</option><option value="198">SOS chats libres</option><option value="2172">SPA - Dispensaire CAP de Perpignan</option><option value="1744">SPA - Dispensaire d&#039;Orléans</option><option value="2171">SPA - Dispensaire de Grenoble</option><option value="1745">SPA - Dispensaire de Lyon</option><option value="2174">SPA - Dispensaire de Paris</option><option value="1746">SPA - Dispensaire de Poulainville</option><option value="2173">SPA - Dispensaire de Toulon</option><option value="1743">SPA - Dispensaire de Toulouse</option><option value="2175">SPA - Dispensaire du Petit Quevilly</option><option value="2176">SPA - Délégation de Rouen</option><option value="2177">SPA - Grand Refuge</option><option value="120">SPA 65 d&#039;Azereix</option><option value="380">SPA Bouls de Poils</option><option value="118">SPA Haguenau</option><option value="436">SPA La Bichardière</option><option value="528">SPA La Vivaroise - Refuge du Fayet</option><option value="682">SPA Vauclusienne - Le refuge des Grands Champs</option><option value="686">SPA de Brouvelieures</option><option value="596">SPA de Lorient - Refuge de Larmor-Plage</option><option value="338">SPA de Saint-Quentin - Refuge de l&#039;espoir</option><option value="166">SPA de Sarrebourg</option><option value="418">SPA de l&#039;Indre</option><option value="614">SPA de la région des Flandres</option><option value="312">SPA du 47 Refuge AMDA</option><option value="203">SPA du Giennois - Refuge la Fontaine</option><option value="1016">SPA du Sud de l&#039;Aisne</option><option value="520">SPA d’Hirson - Refuge du Vivier</option><option value="430">Seconde Chance</option><option value="876">Société de Protection Animale de la Guadeloupe</option><option value="672">Société des Amis des Chats de Draguignan</option><option value="708">Une vie de chat</option><option value="128">la Maison de l&#039;Espoir Retrouvé</option></select>
                                    </div>
                                    <div class="form-group col-xs-12">
                                        <label class="control-label" for="shelterName">Si votre organisation n&#039;est pas dans la liste, entrez son nom</label>
                                        <input type="text" id="shelterName" name="shelterName" class="form-control" />
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="hidden" id="_token" name="_token" value="mm3uuV14Z0B_CFLJRphxRv_q_qFiCgw5wPsEHE1fvLw" />
                                        <button type="submit" class="btn btn-style-3">Commencer <span class="font-style-2">l'enregistrement</span></button>
                                    </div>
                                </div>
                            </form>

                        </article>                </div>
                    <div class="col-sm-12 hidden-lg margin-top">
                        <article id="goal">
                            <div class="panel border-style-1 no-padding">
                                <div class="panel-heading bg-style-1 text-center">
                                    <h2 class="sub-title txt-white">Nos objectifs</h2>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li><span class="fa fa-heart"></span> <strong>Promouvoir l’adoption</strong> auprès du grand public et des médias.</li>
                                        <li><span class="fa fa-heart"></span> Permettre à toutes les associations de secours aux animaux de <strong>se faire connaître</strong> et de <strong>faire connaître leurs pensionnaires</strong>.</li>
                                        <li><span class="fa fa-heart"></span> Offrir aux particuliers à la recherche d’un animal de compagnie un outil de recherche efficace et performant.</li>
                                        <li><span class="fa fa-heart"></span> Développer une communauté d’intérêt afin de <strong>négocier des offres et des remises avec l’industrie des aliments</strong>, soins et accessoires pour animaux.</li>
                                        <li><span class="fa fa-heart"></span> <strong>Partager des ressources et des informations</strong> sur les collectes de fonds, le fonctionnement du refuge, les contrats d’adoption, etc.</li>
                                        <li><span class="fa fa-heart"></span> <strong>Mettre en relation les associations et les personnes</strong> qui souhaitent devenir bénévoles ou familles d’accueil.</li>
                                    </ul>

                                </div>
                                <div class="panel-footer bg-style-1 text-center">
                                    <a href="a-propos.html">En savoir plus</a>
                                </div>
                            </div>
                        </article>                </div>
                </section>
                <aside class="col-right-fixed">
                    <article id="adopt-me">
                        <div class="col-xs-12 no-padding">
                            <h2 class="text-center title title-style-2">Adoptez-moi</h2>
                        </div>
                        <div class="col-md-12 no-padding">
                            <a href="animal/chien-berger-sally-610995.html">
                                <div class="block-roll-hover">
                                    <img src="uploads/anim_thumbnail/61/610995/500_5652d8f96d1e892694cae3a1dc0dc171.jpg" class="img-responsive"
                                         onerror="this.onerror=null; this.src = 'img/defaults/chien.png';"
                                    />
                                    <div class="block-roll-hover-text txt-white">
                                        <div>
                                            <h3 class="font-style-1">sally</h3>
                                        </div>
                                        <h4 class="font-style-1">Femelle - Adulte - (84)</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>


                    <aside class="iframe-advert iframe-advert-col-right margin-top" id="div-gpt-pub-body">

                        <script>
                            googletag.cmd.push(function() { googletag.display('div-gpt-pub-body'); });
                        </script>

                    </aside>            </aside>
            </div>
        </div>

    </section>

    <aside class="hidden-lg hidden-md text-center" id="div-gpt-pub-footer">

        <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-pub-footer'); });
        </script>

    </aside>

    <script src="js/core1caa.js?v1510648692"></script>
{% endblock %}
